a {
  text-decoration: none !important;
}

.swiper-button-next {
  width: 8px !important;
  height: 16px !important;
  /* margin-top: 109px !important; */
  margin-right: 8px !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--chakra-colors-yellow-500) !important;
}

.swiper-button-prev {
  width: 8px !important;
  height: 16px !important;
  /* margin-top: 109px !important; */
  margin-left: 8px !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--chakra-colors-yellow-500) !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: auto !important;
  pointer-events: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  /* display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  width: 128px !important;
  height: 16px !important; */
  bottom: 10px !important;
  left: 0 !important;
  width: 100% !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  display: inline-block !important;
  border-radius: 50% !important;
  background: var(--chakra-colors-gray-700) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2) !important;
  margin-right: 6px !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
  background: var(--chakra-colors-yellow-500) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px 17px 6px !important;
}

@media screen and (min-width: 52em) {
  .swiper-button-next {
    width: 60px !important;
    height: 60px !important;
    /* margin-top: 195px !important; */
    margin-right: 20px !important;
    z-index: 10 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--chakra-colors-yellow-500) !important;
  }

  .swiper-button-prev {
    width: 60px !important;
    height: 60px !important;
    /* margin-top: 195px !important; */
    margin-left: 20px !important;
    z-index: 10 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--chakra-colors-yellow-500) !important;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.5 !important;
    cursor: auto !important;
    pointer-events: none !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    /* display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    width: 128px !important;
    height: 16px !important; */
    bottom: 10px !important;
    left: 0 !important;
    width: 100% !important;
  }

  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: var(--chakra-colors-gray-700) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2) !important;
    margin-right: 6px !important;
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
    background: var(--chakra-colors-yellow-500) !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 6px 17px 6px !important;
  }
}
